.blog {
    margin-top: 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1.375rem;
    
    &__title {
        color: var(--dark-blue);
        font-size: 1.75rem;
        font-weight: 300;
        letter-spacing: .1rem;
        
        @include table {
            font-size: 2.5rem;
        }
    }
}

.posts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include table {
        flex-direction: row;
    }
}

.post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    
    img {
        margin-top: 2rem;
        width: 100%;
        height: 11.5625rem;
        object-fit: cover;
        object-position: center;
        border-radius: 5px;
    }

    &__author {
        padding-top: 1.5rem;
        padding-bottom: .5rem;
        padding-left: 1.75rem;
        font-size: .625rem;
        font-weight: 700;
        color: var(--grayish-blue)
    }
    
    &__title {
        padding-left: 1.75rem;
        padding-right: 2rem;
        font-size: .875rem;
        font-weight: 400;
        color: var(--dark-blue);
        line-height: 1.3;
        opacity: .9;
    }
    
    &__sumary {
        padding-left: 1.75rem;
        padding-right: 1.5rem;
    
        margin-top: .5rem;
        margin-bottom: 2rem;
        font-size: .75rem;
        font-weight: 300;
        color: var(--grayish-blue);
        line-height: 1.4;
    }
}