.services {
    background-color: var(--light-grayish-blue);
    padding-bottom: 6rem;
    padding-top: 2.5rem;
    
    @include table {
        padding-top: 1rem;
    }


    &__cards {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 2rem;
        
        @include table {
            grid-template-columns: 1fr 1fr;
            justify-content: start;
            padding-left: 3rem;
            padding-right: 3rem;
        }
    
        @include laptop {
            grid-template-columns: repeat(4, 1fr);
        }
        
        @include laptop {
            padding-left: 7rem;  
            padding-right: 7rem;  
        }
        
        @include desktop {
            padding-left: 10rem;  
            padding-right: 10rem;  
        }
    }

    &__card {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        opacity: .9;
        
        img {
            width: 100%;
            width: 4.25rem;

            @include table {
                width: 4.6875rem;
            }
        }
        
        @include table {
            text-align: left;
            align-items: flex-start;
        }
    }

    &__title {
        padding-top: 1.5rem;
        font-size: 1.125rem;
        font-weight: 400;
        color: var(--dark-blue);
        
        @include table {
            padding-top: 2rem;
            font-size: 1.5rem;
        }
    }

    &__txt {
        font-size: .875rem;
        font-weight: 300;
        color: var(--grayish-blue);
        padding: 1rem 1.25rem 0;
        line-height: 1.6;

        @include table {
            font-size: 1rem;
            padding-left: 0;
            padding-right: 0rem;
        }
    }    
}